.profile-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.profile-details {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  border-radius: 999px;
  object-fit: cover;
  border: 1px solid var(--border);
  cursor: pointer;
  background-color: var(--primary);
}

.profile-image-placeholder span {
  font-size: 4.5rem;
  font-weight: bold;
  color: black;
}

.profile-username {
  display: flex;
  flex-direction: column;
}

.profile-username h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.profile-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
}

.profile-scores {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-scores-no-scores {
  text-align: center;
}

.profile-scores-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile-scores-wrapper h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.profile-scores-filter {
  display: flex;
  align-items: center;
}

.profile-scores-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.profile-scores-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.5rem;
}

.profile-scores-link {
  margin-bottom: 1rem;
}

.profile-scores-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #ffffff;
  border: 1px solid var(--border);
}

.profile-scores-image:hover {
  border-color: var(--border);
}

.profile-scores-title:hover {
  text-decoration: underline;
}

.profile-scores-genre-instrument {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.profile-favorite-scores {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

.profile-favorite-scores-no-scores {
  text-align: center;
}

.profile-favorite-scores-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile-favorite-scores-title h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.profile-favorite-scores-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.profile-favorite-scores-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.5rem;
}

.profile-favorite-scores-link {
  margin-bottom: 1rem;
}

.profile-favorite-scores-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #ffffff;
  border: 1px solid var(--border);
}

.profile-favorite-scores-image:hover {
  border-color: var(--border);
}

.profile-favorite-scores-title:hover {
  text-decoration: underline;
}

.profile-favorite-scores-genre-instrument {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

@media (max-width: 600px) {
  .profile-details {
    flex-direction: column;
    align-items: center;
  }

  .profile-image {
    width: 12.5rem;
    height: 12.5rem;
  }

  .profile-scores-list {
    justify-content: center;
  }

  .profile-favorite-scores-title h3 {
    font-size: 1.25rem;
  }

  .profile-favorite-scores-list {
    justify-content: center;
  }
}
