.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.login-container .login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.login-container .login-content .login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 120px;
}

.login-card .login-header .login-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
}

.login-container .login-content .login-header h1 {
  font-size: 24px;
  margin: 0;
}

.login-container .login-content .login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
}

.login-container .login-content .login-body .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 750px;
  margin-bottom: 16px;
}

.login-container .login-content .login-body .login-form input {
  padding: 24px;
  border-radius: 8px;
}

.login-container .login-content .login-body .login-form button {
  width: 100%;
  padding: 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 16px;
}

.login-container .login-content .login-body .login-form button:hover {
  background-color: var(--primary-hover);
}

.login-container .login-content .login-body .login-form button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

.login-container .login-content .login-body .login-register-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  margin-top: 16px;
}

.login-container .login-content .login-body .login-register-link a {
  text-decoration: underline;
  color: inherit;
  font-size: 16px;
}

@media (max-width: 750px) {
  .login-container .login-content .login-body .login-form {
    width: 100%;
    padding: 16px;
  }
}
