.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 500px;
  margin-bottom: 4rem;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.login-title {
  font-size: 1.5rem;
  margin: 0;
}

.login-subtitle {
  font-size: 1rem;
  color: var(--accent);
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.login-form input,
.login-form button {
  padding: 1.5rem;
  border-radius: 8px;
  width: 100%;
}

.login-form input {
  border: 1px solid var(--border);
}

.login-form button {
  border-radius: 999px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.login-register-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.login-register-link a {
  text-decoration: underline;
  font-size: 1rem;
}

@media (max-width: 550px) {
  .login-content {
    width: 100%;
    padding: 0 1rem;
  }

  .login-register-link {
    flex-direction: column;
    gap: 0.25rem;
  }
}
