.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  height: 100%;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.input-wrapper button {
  border: 1px solid var(--border);
  border-radius: 8px;
}

.upload-form input {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid var(--border);
  padding: 1.5rem 1rem;
}

.upload-textarea {
  border: 1px solid var(--border);
  border-radius: 8px;
  font-size: 1rem;
  padding: 1rem;
}

.file-upload-dropzone {
  background-color: var(--background);
  border: 2px dashed var(--border);
  border-radius: 8px;
}

.select-difficulty button {
  border: 1px solid var(--border);
  border-radius: 8px;
}

.upload-container .button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.upload-form button.upload-button {
  padding: 1.5rem;
  border-radius: 999px;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--primary);
  color: black;
  border: none;
}

.upload-form button.upload-button:hover {
  background-color: var(--primary-hover);
}

.upload-form button.upload-button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
  pointer-events: none;
}

@media (max-width: 750px) {
  .upload-form {
    width: 100%;
  }
}

.css-u9aq0z {
  border: 1px solid var(--border);
}

.css-ojlf6 {
  background-color: var(--background);
}