.genre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  padding: 24px;
}

.genre-container .genre-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.genre-container .genre-content .genre-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 32px;
}

.genre-container .genre-content .genre-header h1 {
  font-size: 24px;
  margin: 0;
}

.genre-container .genre-content .genre-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.genre-container .genre-content .genre-form button {
  width: 100%;
  padding: 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.genre-container .genre-content .genre-form button:hover {
  background-color: var(--primary-hover);
}

.genre-container .genre-content .genre-form button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

.genre-container .genre-content .genre-login-text {
  font-size: 16px;
  color: var(--foreground);
  margin-bottom: 16px;
}

.genre-container .genre-content .genre-login-button {
  padding: 12px 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}
