.sheet-music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.sheet-music-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.sheet-music-body {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.sheet-music {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 4rem);
  width: 100%;
  max-width: 100%;
  margin-right: 27.5rem;
  overflow-y: auto;
  z-index: 0;
}

.sheet-music-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--background-card);
}

.sheet-music-details img {
  width: 100%;
  max-width: 53.125rem;
  height: 68.6875rem;
  object-fit: cover;
  background-color: #ffffff;
}

.sheet-music-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100vh;
  width: 100%;
  max-width: 27.5rem;
  position: fixed;
  top: 4rem;
  right: 0;
  padding: 1.5rem;
  background-color: var(--background);
  box-shadow: -1px 0 0px 0px var(--border);
}

.sheet-music-wrapper:first-child {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sheet-music-wrapper:last-child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.sheet-music-author {
  width: 100%;
}

.sheet-music-author p {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.sheet-music-title {
  width: 100%;
}

.sheet-music-title h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.sheet-music-description {
  width: 100%;
}

.sheet-music-description p {
  font-size: 1rem;
  margin: 0;
}

.sheet-music-stats {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.views,
.downloads,
.favorites {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sheet-music-controls {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.button-group button {
  width: 100%;
  padding: 1rem;
  border-radius: 999px;
  border: none;
  background-color: var(--border);
  color: var(--forground);
}

.button-group button.btn-download {
  width: 100%;
  padding: 1rem;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

.button-group button.btn-download:hover {
  background-color: var(--primary-hover);
}

.button-group button:hover {
  background-color: var(--border);
}

@media (max-width: 1250px) {
  .sheet-music {
    margin-right: 0;
  }

  .sheet-music-actions {
    width: 100%;
    max-width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    top: unset;
    box-shadow: 0px -1px 0px 0px var(--border);
  }
}

@media (max-width: 900px) {
  .sheet-music-title h1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 450px) {
  .sheet-music-controls {
    flex-direction: column;
  }
}
