.sheet-music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.sheet-music-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.sheet-music-body {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.sheet-music {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
  z-index: 0;
}

@media (max-width: 1250px) {
  .sheet-music {
    margin-right: 0;
  }

  .sheet-music-actions {
    width: 100%;
    max-width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    top: unset;
    box-shadow: 0px -1px 0px 0px var(--border);
  }
}

@media (max-width: 900px) {
  .sheet-music-title h1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 450px) {
  .sheet-music-controls {
    flex-direction: column;
  }
}
