.home-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem 6rem;
  width: 100%;
  min-height: 100vh;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.h-title-button-container {
  max-width: 900px;
  text-align: center;
}

.h-title-container {
  margin-bottom: 2rem;
}

.h-subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.h-title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.h-description {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 700px;
  margin: 0 auto;
}

.h-button-get-started {
  padding: 1.5rem;
  font-size: 1rem;
  border-radius: 999px;
  cursor: pointer;
}

.t-sheet-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
  width: 100%;
}

.t-sheet-title {
  font-size: 1.5rem;
}

.t-sheet-action {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.t-sheet-action-highlight {
  font-size: 1rem;
}

.t-sheet-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 2rem 0;
  overflow-x: auto;
  width: 100%;
}

.t-sheet-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.t-sheet-image {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.t-sheet-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}

.t-sheet-item-title {
  font-weight: 600;
}
