.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 24px;
}

.home-container .home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.home-container .home-content .home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.home-container .home-content .home-header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.home-container .home-content .home-header .home-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-container .home-content .home-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.home-container .home-content .home-body .sheet-music-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  width: 100%;
  margin-top: 16px;
}

.home-container .home-content .home-body .sheet-music-list .sheet-music-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
}

.home-container
  .home-content
  .home-body
  .sheet-music-list
  .sheet-music-item
  .sheet-music-link {
  margin-bottom: 16px;
}

.home-container
  .home-content
  .home-body
  .sheet-music-list
  .sheet-music-item
  .sheet-music-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid var(--sheet-border-color);
}

.home-container
  .home-content
  .home-body
  .sheet-music-list
  .sheet-music-item
  .sheet-music-image:hover {
  border-color: var(--sheet-border-color-hover);
}

.home-container
  .home-content
  .home-body
  .sheet-music-list
  .sheet-music-item
  .sheet-music-title {
  color: var(--primary);
}

.home-container
  .home-content
  .home-body
  .sheet-music-list
  .sheet-music-item
  .sheet-music-title:hover {
  text-decoration: underline;
}

.home-container
  .home-content
  .home-body
  .sheet-music-list
  .sheet-music-item
  .sheet-music-title,
.home-container
  .home-content
  .home-body
  .sheet-music-list
  .sheet-music-item
  .sheet-music-composer {
  width: fit-content;
}

.home-container
  .home-content
  .home-body
  .sheet-music-list
  .sheet-music-item
  .sheet-music-genre-instrument {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

@media (max-width: 600px) {
  .home-container .home-content .home-header h1 {
    font-size: 20px;
  }

  .home-container .home-content .home-body .sheet-music-list {
    justify-content: center;
  }
}
