.home-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem 0rem;
  width: 100%;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.h-title-button-container {
  max-width: 900px;
  text-align: center;
}

.h-title-container {
  margin-bottom: 2rem;
}

.h-subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.h-title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.h-description {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 700px;
  margin: 0 auto;
}

.h-button-get-started {
  padding: 1.5rem;
  font-size: 1rem;
  border-radius: 999px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .h-title {
    font-size: 2.5rem;
  }
}
