.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  padding: 24px;
}

.upload-container .upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.upload-container .upload-content .upload-login-text {
  font-size: 16px;
  color: var(--foreground);
  margin-bottom: 16px;
}

.upload-container .upload-content .upload-login-button {
  padding: 12px 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.upload-container .upload-content .upload-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.upload-container .upload-content .upload-header h1 {
  font-size: 24px;
  margin: 0;
}

.upload-container .upload-content .upload-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  height: 100%;
  width: 750px;
  margin-bottom: 16px;
}

.upload-container .upload-content .upload-form input {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
}

.upload-container .upload-content .upload-form button.upload-button {
  width: 100%;
  padding: 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.upload-container .upload-content .upload-form button.upload-button:hover {
  background-color: var(--primary-hover);
}

.upload-container .upload-content .upload-form button.upload-button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

@media (max-width: 750px) {
  .upload-container .upload-content .upload-form {
    width: 100%;
  }
}
