.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.register-container .register-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.register-container .register-content .register-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 120px;
}

.register-container .register-content .register-header h1 {
  font-size: 24px;
  margin: 0;
}

.register-container .register-content .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 750px;
  margin-bottom: 16px;
}

.register-container .register-content .register-form input {
  padding: 24px;
  border-radius: 8px;
  width: 100%;
}

.register-container .register-content .register-form button {
  width: 100%;
  padding: 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.register-container .register-content .register-form button:hover {
  background-color: var(--primary-hover);
}

.register-container .register-content .register-form button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

.register-container .register-content .register-login-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  margin-top: 16px;
}

.register-container .register-content .register-login-link a {
  text-decoration: underline;
  color: inherit;
  font-size: 16px;
}

@media (max-width: 750px) {
  .register-container .register-content .register-form {
    width: 100%;
  }
}
