.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  width: 100%;
  padding: 0 6rem;
  background-color: var(--background);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.header-menu-icon {
  display: none;
  cursor: pointer;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-navigation a {
  text-decoration: none;
  font-size: 1rem;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button-container button {
  padding: 1.5rem;
  border-radius: 999px;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header-menu-icon {
    display: block;
  }

  .header-navigation-item {
    display: none;
  }
}

@media (max-width: 900px) {
  .header-content {
    height: auto;
    gap: 8px;
  }
}

@media (max-width: 600px) {
  .header-content {
    gap: 8px;
  }
}

@media (max-width: 425px) {
  .header-container {
    padding: 0 1rem;
  }
}

.css-kcj133 {
  border: none;
  background-color: var(--foreground);
  color: var(--background);
}

.css-kcj133:hover {
  background-color: var(--foreground-hover);
}

.css-1ocnt5x {
  border: 1px solid var(--border);
  color: var(--foreground);
}

.css-1ocnt5x:hover {
  background-color: var(--background-elevated);
}
