.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 88px;
  width: 100%;
  padding: 0 6rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--background);
}

.header-container .header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.header-container .header-content .header-logo a {
  text-decoration: none;
  color: inherit;
}

.header-container .header-content .header-logo h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: var(--primary);
}

.header-container .header-content .header-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header-container .header-content .header-navigation a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: 600;
}

.header-container .header-content .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header-container .header-content .button-container button {
  padding: 1.5rem;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 900px) {
  .header-container .header-content {
    height: auto;
    gap: 8px;
  }

  .header-container .header-content .header-logo h1 {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .header-container .header-content {
    gap: 8px;
  }

  .header-container .header-content .header-logo h1 {
    font-size: 18px;
  }

  .header-container .header-content .button-container button {
    padding: 10px 8px;
    font-size: 14px;
  }
}
