.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 100%;
  padding: 0 8px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--background);
  box-shadow: 0 1px 0 0 var(--border-color);
}

.header-container .header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.header-container .header-content .header-first-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.header-container .header-content .header-first-part .header-logo a {
  text-decoration: none;
  color: inherit;
}

.header-container .header-content .header-first-part .header-logo h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: var(--primary);
}

.header-container .header-content .header-second-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header-container .header-content .header-second-part .header-searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.header-container .header-content .header-second-part .header-searchbar input {
  width: 100%;
  padding: 24px;
  border-radius: 999px;
  font-size: 16px;
  background-color: var(--background-elevated);
  transition: background-color 0.3s ease;
}

.header-container
  .header-content
  .header-second-part
  .header-searchbar
  input:hover {
  background-color: var(--searchbar-hover);
}

.header-container .header-content .header-third-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  width: 100%;
}

.header-container
  .header-content
  .header-third-part
  .header-upload-button
  button {
  padding: 24px 0;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  color: var(--forground);
  font-size: 16px;
  cursor: pointer;
}

.header-container .header-content .header-third-part .header-menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logout-item {
  box-shadow: 0 -1px 0 0 var(--border-color);
  cursor: pointer;
}

.header-container
  .header-content
  .header-third-part
  .header-menu-container
  button {
  cursor: pointer;
  padding: 0;
  border-radius: 999px;
}

.header-container
  .header-content
  .header-third-part
  .header-menu-container
  button
  img {
  width: 42px;
  height: 42px;
  border-radius: 999px;
  object-fit: cover;
}

.header-container
  .header-content
  .header-third-part
  .header-menu-container
  button
  span {
  padding: 20px 15px;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  width: 42px;
  height: 42px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container .header-content .header-third-part .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header-container .header-content .header-third-part .button-container button {
  padding: 20px 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.header-container
  .header-content
  .header-third-part
  .button-container
  .header-register-button {
  border-radius: 999px;
}

@media (max-width: 900px) {
  .header-container .header-content {
    height: auto;
    gap: 8px;
  }

  .header-container .header-content .header-second-part .header-searchbar {
    width: 100%;
  }

  .header-container .header-content .header-first-part {
    display: none;
  }

  .header-container .header-content .header-third-part {
    gap: 16px;
    width: auto;
  }

  .header-container .header-content .header-first-part .header-logo h1 {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .header-container .header-content {
    gap: 8px;
  }

  .header-container .header-content .header-first-part,
  .header-container .header-content .header-second-part,
  .header-container .header-content .header-third-part {
    justify-content: center;
  }

  .header-container
    .header-content
    .header-second-part
    .header-searchbar
    input {
    padding: 12px;
    font-size: 14px;
  }

  .header-container .header-content .header-third-part {
    gap: 8px;
  }

  .header-container .header-content .header-first-part .header-logo h1 {
    font-size: 18px;
  }

  .header-container
    .header-content
    .header-third-part
    .header-menu-container
    button
    img,
  .header-container
    .header-content
    .header-third-part
    .header-menu-container
    button
    span {
    width: 32px;
    height: 32px;
    font-size: 14px;
  }

  .header-container
    .header-content
    .header-third-part
    .button-container
    button {
    padding: 10px 8px;
    font-size: 14px;
  }
}
