.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 500px;
  margin-bottom: 4rem;
}

.signup-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.signup-title {
  font-size: 1.5rem;
  margin: 0;
}

.signup-subtitle {
  font-size: 1rem;
  color: var(--accent);
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.signup-form input,
.signup-form button {
  padding: 1.5rem;
  border-radius: 8px;
  width: 100%;
}

.signup-form button {
  border-radius: 999px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.input-wrapper {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.signup-login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.signup-login-link a {
  text-decoration: underline;
  font-size: 1rem;
}

@media (max-width: 550px) {
  .signup-content {
    width: 100%;
    padding: 0 1rem;
  }

  .input-wrapper {
    flex-direction: column;
  }

  .signup-login-link {
    flex-direction: column;
    gap: 0.25rem;
  }
}
