.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.register-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 500px;
  margin-bottom: 4rem;
}

.register-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.register-title {
  font-size: 1.5rem;
  margin: 0;
}

.register-subtitle {
  font-size: 1rem;
  color: var(--accent);
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.register-form input,
.register-form button {
  padding: 1.5rem;
  border-radius: 8px;
  width: 100%;
}

.register-form button {
  border-radius: 999px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.input-wrapper {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.register-login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.register-login-link a {
  text-decoration: underline;
  font-size: 1rem;
}

@media (max-width: 550px) {
  .register-content {
    width: 100%;
    padding: 0 1rem;
  }

  .input-wrapper {
    flex-direction: column;
  }

  .register-login-link {
    flex-direction: column;
    gap: 0.25rem;
  }
}
