.main .sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 90px;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 64px;
  box-shadow: 1px 0 0px 0px var(--border-color);
  background-color: var(--background);
}

.sidebar .sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  padding: 24px;
}

.sidebar .sidebar-wide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  width: 100%;
}

.sidebar .sidebar-wide .sidebar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
}

.sidebar .sidebar-wide .sidebar-header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.sidebar .sidebar-wide .sidebar-header svg {
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.sidebar .sidebar-wide .sidebar-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  width: 100%;
}

.sidebar .sidebar-wide .sidebar-body button {
  width: 100%;
  padding: 24px 18px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.sidebar .sidebar-narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  width: 100%;
}

.sidebar .sidebar-narrow .sidebar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sidebar .sidebar-narrow .sidebar-header svg {
  cursor: pointer;
}

.sidebar .sidebar-narrow .sidebar-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  width: 100%;
}

.sidebar .sidebar-narrow .sidebar-body button {
  width: 100%;
  padding: 24px;
  border-radius: 999px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .main .sidebar {
    position: relative;
    align-items: center;
    height: 64px;
    width: 100%;
    box-shadow: 0px 1px 0px 0px var(--border-color);
  }

  .sidebar .sidebar-wide {
    display: none !important;
  }

  .sidebar .sidebar-narrow {
    display: flex !important;
  }

  .sidebar .sidebar-container {
    flex-direction: row;
    padding: 8px;
  }

  .sidebar .sidebar-narrow .sidebar-header {
    display: none;
  }

  .sidebar .sidebar-narrow .sidebar-body button {
    padding: 12px;
  }
}
