.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  width: 100%;
}

.dashboard-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}

.dashboard-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dashboard-searchbar input {
  border-radius: 999px;
  padding: 1.5rem 2.5rem;
  font-size: 0.875rem;
}

.dashboard-button-container button {
  padding: 1.5rem;
  border-radius: 999px;
  font-size: 0.875rem;
  cursor: pointer;
  background-color: var(--primary);
  color: black;
}

.dashboard-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.sheet-music-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  width: 100%;
  margin-top: 16px;
}

.sheet-music-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
}

.sheet-music-link {
  margin-bottom: 16px;
}

.sheet-music-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid var(--border);
}

.sheet-music-image:hover {
  border-color: var(--border);
}

.sheet-music-title {
  color: var(--primary);
}

.sheet-music-title:hover {
  text-decoration: underline;
}

.sheet-music-title,
.sheet-music-composer {
  width: fit-content;
}

.sheet-music-genre-instrument {
  display: flex;
  gap: 8px;
  width: 100%;
}

@media (max-width: 600px) {
  .dashboard-header h1 {
    font-size: 20px;
  }

  .sheet-music-list {
    justify-content: center;
  }
}
