.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.sidebar-open {
  width: 300px !important;
}

.panelRightClose {
  height: 2em;
  width: 2em;
}

.main .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-top: 64px;
  flex: 1 1 100%;
  background-color: var(--background);
}

@media (max-width: 900px) {
  .main {
    flex-direction: column;
    gap: 0;
  }

  .main .content {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 0;
  }
}
