.main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  height: 100vh;
  width: 100%;
}

/* Header */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 88px;
  width: 100%;
  padding: 0 24px;
  box-shadow: 0px 1px 0px var(--border);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-container .header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-container .header-content .header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
}

.header-container .header-content .header-left .header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.header-container .header-content .header-left .header-logo a {
  text-decoration: none;
  color: inherit;
}

.header-container .header-content .header-left .header-logo a h1 {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  color: #4097f5;
}

.header-container .header-content .header-left .header-searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header-container .header-content .header-left .header-searchbar input {
  width: 100%;
  padding: 24px;
  border: 1px solid var(--border);
  border-radius: 999px;
}

.header-container .header-content .header-left .header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header-container .header-content .header-left .header-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-container .header-content .header-left .header-nav ul li a {
  text-decoration: none;
  color: inherit;
}

.header-container .header-content .header-left .header-nav ul li a:hover {
  text-decoration: underline;
}

.header-container .header-content .header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.header-container .header-content .header-right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-container .header-content .header-right ul li a {
  text-decoration: none;
  color: inherit;
}

.header-container .header-content .header-right ul li a:hover {
  text-decoration: underline;
}

/* Login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 88px);
  width: 100%;
  padding: 0 24px;
}

.login-container .login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-container .login-content .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-container .login-content .login-form .login-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  max-width: 520px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container .login-content .login-form .login-card .login-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-container .login-content .login-form .login-card .login-card-header h2 {
  font-size: 24px;
  margin: 0;
}

.login-container .login-content .login-form .login-card .login-card-header p {
  font-size: 16px;
  margin: 0;
}

.login-container .login-content .login-form .login-card .login-card-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.login-container .login-content .login-form .login-card .login-card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.login-container
  .login-content
  .login-form
  .login-card
  .login-card-footer
  .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-container
  .login-content
  .login-form
  .login-card
  .login-card-footer
  .button-container
  button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #4097f5;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-container
  .login-content
  .login-form
  .login-card
  .login-card-footer
  .button-container
  button:hover {
  background-color: #3a8ce0;
}

.login-container
  .login-content
  .login-form
  .login-card
  .login-card-footer
  .button-container
  button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.login-container
  .login-content
  .login-form
  .login-card
  .login-card-footer
  .login-footer-links
  a {
  text-decoration: underline;
  color: inherit;
}

.login-container
  .login-content
  .login-form
  .login-card
  .login-card-footer
  .login-footer-links
  a:hover {
  text-decoration: none;
}

/* Register */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 88px);
  width: 100%;
  padding: 0 24px;
}

.register-container .register-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.register-container .register-content .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.register-container .register-content .register-form .register-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  max-width: 520px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.register-container
  .register-content
  .register-form
  .register-card
  .register-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.register-container
  .register-content
  .register-form
  .register-card
  .register-card-header
  h2 {
  font-size: 24px;
  margin: 0;
}

.register-container
  .register-content
  .register-form
  .register-card
  .register-card-header
  p {
  font-size: 16px;
  margin: 0;
}

.register-container
  .register-content
  .register-form
  .register-card
  .register-card-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.register-container
  .register-content
  .register-form
  .register-card
  .register-card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.register-container
  .register-content
  .register-form
  .register-card
  .register-card-footer
  .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.register-container
  .register-content
  .register-form
  .register-card
  .register-card-footer
  .button-container
  button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #4097f5;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.register-container
  .register-content
  .register-form
  .register-card
  .register-card-footer
  .button-container
  button:hover {
  background-color: #3a8ce0;
}

.register-container
  .register-content
  .register-form
  .register-card
  .register-card-footer
  .button-container
  button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.register-container
  .register-content
  .register-form
  .register-card
  .register-card-footer
  .register-footer-links
  a {
  text-decoration: underline;
  color: inherit;
}

.register-container
  .register-content
  .register-form
  .register-card
  .register-card-footer
  .register-footer-links
  a:hover {
  text-decoration: none;
}

/* Home */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 24px;
  margin-top: 88px;
}

.home-container .home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.home-container .home-content .home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.home-container .home-content .home-header .home-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.home-container .home-content .home-header .home-header-title h1 {
  font-size: 24px;
  margin: 0;
}

.home-container .home-content .home-header .home-header-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  width: 100%;
}

.home-container
  .home-content
  .home-header
  .home-header-filter
  .home-header-drop-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 140px;
}

.home-container
  .home-content
  .home-header
  .home-header-filter
  .home-header-dialog-filter
  button {
  padding: 24px 16px;
}

.home-container
  .home-content
  .home-header
  .home-header-filter
  .home-header-dialog-filter
  button
  svg {
  width: 24px;
  height: 24px;
}

/* Upload */
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.upload-container .upload-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 64px;
  width: 100%;
  padding: 0 24px;
  box-shadow: 0px 1px 0px var(--border);
}

.upload-container .upload-header .upload-link {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.upload-container .upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.upload-container .upload-content .upload-instructions-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 16px;
}

.upload-container .upload-content .upload-instructions-title h2 {
  font-size: 24px;
  margin: 0;
}

.upload-container .upload-content .upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 750px;
}

.upload-container .upload-content .upload-form .upload-title-container,
.upload-container .upload-content .upload-form .upload-composer-container,
.upload-container .upload-content .upload-form .upload-genre-container,
.upload-container .upload-content .upload-form .upload-instrument-container,
.upload-container .upload-content .upload-form .upload-difficulty-container,
.upload-container .upload-content .upload-form .upload-description-container,
.upload-container .upload-content .upload-form .upload-visibility-container,
.upload-container .upload-content .upload-form .upload-file-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.upload-title-container > :last-child,
.upload-composer-container > :last-child,
.upload-genre-container > :last-child,
.upload-instrument-container > :last-child,
.upload-difficulty-container > :last-child,
.upload-description-container > :last-child,
.upload-visibility-container > :last-child {
  width: 75%;
}

.upload-container
  .upload-content
  .upload-form
  .upload-file-container
  .upload-file-input-container {
  width: 100%;
}

.upload-container .upload-content .upload-form .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0px -1px 0px var(--border);
  padding-top: 16px;
}
.upload-container .upload-content .upload-form .button-container button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #4097f5;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.upload-container .upload-content .upload-form .button-container button:hover {
  background-color: #3a8ce0;
}

.upload-container
  .upload-content
  .upload-form
  .button-container
  button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
