.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  flex: 1 1 100%;
  background-color: var(--background);
  padding: 0 6rem;
}

@media (max-width: 900px) {
  .main {
    flex-direction: column;
    gap: 0;
  }

  .content {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 0;
  }
}
