/* Header */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 100%;
  padding: 0 24px;
}

.header-container .header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-container .header-content .header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
}

.header-container .header-content .header-left .header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.header-container .header-content .header-left .header-logo a {
  text-decoration: none;
  color: inherit;
}

.header-container .header-content .header-left .header-logo a h1 {
  font-size: 24px;
  margin: 0;
}

.header-container .header-content .header-left .header-searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header-container .header-content .header-left .header-searchbar input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.header-container .header-content .header-left .header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header-container .header-content .header-left .header-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-container .header-content .header-left .header-nav ul li a {
  text-decoration: none;
  color: inherit;
}

.header-container .header-content .header-left .header-nav ul li a:hover {
  text-decoration: underline;
}

.header-container .header-content .header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.header-container .header-content .header-right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-container .header-content .header-right ul li a {
  text-decoration: none;
  color: inherit;
}

.header-container .header-content .header-right ul li a:hover {
  text-decoration: underline;
}
