.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.sidebar-open {
  width: 20vw !important;
}

.panelRightClose {
  height: 2em;
  width: 2em;
}

.main .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-top: 64px;
  flex: 1 1 100%;
}

.theme-switcher-button {
  z-index: 1000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--forground);
}

/* Header */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 100%;
  padding: 0 8px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--background);
  box-shadow: 0 1px 0 0 var(--border-color);
}

.header-container .header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.header-container .header-content .header-first-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.header-container .header-content .header-first-part .header-logo a {
  text-decoration: none;
  color: inherit;
}

.header-container .header-content .header-first-part .header-logo h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: var(--primary);
}

.header-container .header-content .header-second-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header-container .header-content .header-second-part .header-searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.header-container .header-content .header-second-part .header-searchbar input {
  width: 100%;
  padding: 24px;
  border-radius: 999px;
  font-size: 16px;
  background-color: var(--background-elevated);
  transition: background-color 0.3s ease;
}

.header-container
  .header-content
  .header-second-part
  .header-searchbar
  input:hover {
  background-color: var(--searchbar-hover);
}

.header-container .header-content .header-third-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  width: 100%;
}

.header-container
  .header-content
  .header-third-part
  .header-upload-button
  button {
  padding: 24px 0;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  color: var(--forground);
  font-size: 16px;
  cursor: pointer;
}

.header-container .header-content .header-third-part .header-menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logout-item {
  box-shadow: 0 -1px 0 0 var(--border-color);
  cursor: pointer;
}

.header-container
  .header-content
  .header-third-part
  .header-menu-container
  button {
  cursor: pointer;
  padding: 0;
  border-radius: 999px;
}

.header-container
  .header-content
  .header-third-part
  .header-menu-container
  button
  img {
  width: 42px;
  height: 42px;
  border-radius: 999px;
  object-fit: cover;
}

.header-container
  .header-content
  .header-third-part
  .header-menu-container
  button
  span {
  padding: 20px 15px;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  width: 42px;
  height: 42px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container .header-content .header-third-part .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header-container .header-content .header-third-part .button-container button {
  padding: 20px 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.header-container
  .header-content
  .header-third-part
  .button-container
  .header-register-button {
  border-radius: 999px;
}

/* Sidebar */
.main .sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 5vw;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 64px;
  box-shadow: 1px 0 0px 0px var(--border-color);
  background-color: var(--background);
}

/* Sidebar Wide */
.sidebar .sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  padding: 24px;
}

.sidebar .sidebar-wide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  width: 100%;
}

.sidebar .sidebar-wide .sidebar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
}

.sidebar .sidebar-wide .sidebar-header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.sidebar .sidebar-wide .sidebar-header svg {
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.sidebar .sidebar-wide .sidebar-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  width: 100%;
}

.sidebar .sidebar-wide .sidebar-body button {
  width: 100%;
  padding: 24px 18px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* Sidebar Narrow */
.sidebar .sidebar-narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  width: 100%;
}

.sidebar .sidebar-narrow .sidebar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sidebar .sidebar-narrow .sidebar-header svg {
  cursor: pointer;
}

.sidebar .sidebar-narrow .sidebar-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  width: 100%;
}

.sidebar .sidebar-narrow .sidebar-body button {
  width: 100%;
  padding: 24px;
  border-radius: 999px;
  font-size: 16px;
  cursor: pointer;
}

/* Login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.login-container .login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.login-container .login-content .login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 120px;
}

.login-card .login-header .login-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
}

.login-container .login-content .login-header h1 {
  font-size: 24px;
  margin: 0;
}

.login-container .login-content .login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
}

.login-container .login-content .login-body .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 750px;
  margin-bottom: 16px;
}

.login-container .login-content .login-body .login-form input {
  padding: 24px;
  border-radius: 8px;
}

.login-container .login-content .login-body .login-form button {
  width: 100%;
  padding: 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 16px;
}

.login-container .login-content .login-body .login-form button:hover {
  background-color: var(--primary-hover);
}

.login-container .login-content .login-body .login-form button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

.login-container .login-content .login-body .login-register-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  margin-top: 16px;
}

.login-container .login-content .login-body .login-register-link a {
  text-decoration: underline;
  color: inherit;
  font-size: 16px;
}

/* Register */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.register-container .register-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.register-container .register-content .register-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 120px;
}

.register-container .register-content .register-header h1 {
  font-size: 24px;
  margin: 0;
}

.register-container .register-content .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 750px;
  margin-bottom: 16px;
}

.register-container .register-content .register-form input {
  padding: 24px;
  border-radius: 8px;
  width: 100%;
}

.register-container .register-content .register-form button {
  width: 100%;
  padding: 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.register-container .register-content .register-form button:hover {
  background-color: var(--primary-hover);
}

.register-container .register-content .register-form button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

.register-container .register-content .register-login-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  margin-top: 16px;
}

.register-container .register-content .register-login-link a {
  text-decoration: underline;
  color: inherit;
  font-size: 16px;
}

/* Home */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 24px;
}

.home-container .home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.home-container .home-content .home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.home-container .home-content .home-header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.home-container .home-content .home-header .home-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-container .home-content .home-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.home-container .home-content .home-body .sheet-music-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  width: 100%;
  margin-top: 16px;
}

.home-container .home-content .home-body .sheet-music-list .sheet-music-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
}

.home-container
  .home-content
  .home-body
  .sheet-music-list
  .sheet-music-item
  .sheet-music-link {
  margin-bottom: 16px;
}

.home-container
  .home-content
  .home-body
  .sheet-music-list
  .sheet-music-item
  .sheet-music-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid var(--sheet-border-color);
}

.home-container
  .home-content
  .home-body
  .sheet-music-list
  .sheet-music-item
  .sheet-music-image:hover {
  border-color: var(--sheet-border-color-hover);
}

.home-container
  .home-content
  .home-body
  .sheet-music-list
  .sheet-music-item
  .sheet-music-title {
  color: var(--primary);
}

.home-container
  .home-content
  .home-body
  .sheet-music-list
  .sheet-music-item
  .sheet-music-title:hover {
  text-decoration: underline;
}

.home-container
  .home-content
  .home-body
  .sheet-music-list
  .sheet-music-item
  .sheet-music-title,
.home-container
  .home-content
  .home-body
  .sheet-music-list
  .sheet-music-item
  .sheet-music-composer {
  width: fit-content;
}

.home-container
  .home-content
  .home-body
  .sheet-music-list
  .sheet-music-item
  .sheet-music-genre-instrument {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

/* Upload */
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  padding: 24px;
}

.upload-container .upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.upload-container .upload-content .upload-login-text {
  font-size: 16px;
  color: var(--foreground);
  margin-bottom: 16px;
}

.upload-container .upload-content .upload-login-button {
  padding: 12px 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.upload-container .upload-content .upload-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.upload-container .upload-content .upload-header h1 {
  font-size: 24px;
  margin: 0;
}

.upload-container .upload-content .upload-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  height: 100%;
  width: 750px;
  margin-bottom: 16px;
}

.upload-container .upload-content .upload-form input {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
}

.upload-container .upload-content .upload-form button.upload-button {
  width: 100%;
  padding: 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.upload-container .upload-content .upload-form button.upload-button:hover {
  background-color: var(--primary-hover);
}

.upload-container .upload-content .upload-form button.upload-button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

/* Settings */
.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 24px;
}

.settings-container .settings-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 750px;
}

.settings-container .settings-content .settings-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.settings-container .settings-content .settings-header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.settings-container .settings-content .settings-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.settings-container .settings-content .settings-body .settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-field
  .settings-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-field
  .settings-info
  label {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-field
  .settings-info
  p {
  font-size: 16px;
  color: var(--secondary);
  margin: 0;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-form-group
  .input-name-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-form-group
  .input-name-group
  input {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  font-size: 16px;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-form-group
  input,
.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-form-group
  textarea {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  font-size: 16px;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-form-group
  .settings-role-select:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .button-container
  button {
  width: 100%;
  padding: 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .button-container
  button:hover {
  background-color: var(--primary-hover);
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .button-container
  button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

/* Profile */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.profile-container .profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile-container .profile-content .profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.profile-container .profile-content .profile-header .profile-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 320px;
  width: 100%;
  background-color: var(--background-elevated);
  padding: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.profile-container
  .profile-content
  .profile-header
  .profile-banner
  .profile-account-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile-container
  .profile-content
  .profile-header
  .profile-banner
  .profile-account-info
  .profile-details {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
}

.profile-container
  .profile-content
  .profile-header
  .profile-banner
  .profile-account-info
  .profile-details
  .profile-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.profile-container
  .profile-content
  .profile-header
  .profile-banner
  .profile-account-info
  .profile-details
  .profile-image
  .profile-image-placeholder
  span {
  font-size: 72px;
}

.profile-container
  .profile-content
  .profile-header
  .profile-banner
  .profile-account-info
  .profile-details
  .profile-username-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.profile-container
  .profile-content
  .profile-header
  .profile-banner
  .profile-account-info
  .profile-details
  .profile-username-description
  h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #ffffff;
}

.profile-container
  .profile-content
  .profile-header
  .profile-banner
  .profile-account-info
  .profile-details
  .profile-username-description
  p {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
}

.profile-container .profile-content .profile-header .profile-nav-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 64px;
  width: 100%;
  padding: 0 24px;
  box-shadow: 0 1px 0 0 var(--border-color);
}

.profile-container
  .profile-content
  .profile-header
  .profile-nav-actions
  button {
  border-radius: 999px;
  background-color: transparent;
  color: var(--forground);
  font-size: 16px;
  cursor: pointer;
}

.profile-container
  .profile-content
  .profile-header
  .profile-nav-actions
  button:hover {
  background-color: var(--background-elevated);
}

.profile-container
  .profile-content
  .profile-header
  .profile-nav-actions
  button
  a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.profile-container .profile-content .profile-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 24px;
}

.profile-container .profile-content .profile-body .profile-scores {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.profile-container
  .profile-content
  .profile-body
  .profile-scores
  .profile-scores-title-filter-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile-container
  .profile-content
  .profile-body
  .profile-scores
  .profile-scores-title-filter-wrapper
  h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.profile-container
  .profile-content
  .profile-body
  .profile-scores
  .profile-scores-title-filter-wrapper
  .profile-scores-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile-container
  .profile-content
  .profile-body
  .profile-scores
  .profile-scores-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  width: 100%;
  margin-top: 16px;
}

.profile-container
  .profile-content
  .profile-body
  .profile-scores
  .profile-scores-list
  .profile-scores-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
}

.profile-container
  .profile-content
  .profile-body
  .profile-scores-list
  .profile-scores-item
  .profile-scores-link {
  margin-bottom: 16px;
}

.profile-container
  .profile-content
  .profile-body
  .profile-scores-list
  .profile-scores-item
  .profile-scores-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid var(--sheet-border-color);
}

.profile-container
  .profile-content
  .profile-body
  .profile-scores-list
  .profile-scores-item
  .profile-scores-image:hover {
  border-color: var(--sheet-border-color-hover);
}

.profile-container
  .profile-content
  .profile-body
  .profile-scores-list
  .profile-scores-item
  .profile-scores-title {
  color: var(--primary);
}

.profile-container
  .profile-content
  .profile-body
  .profile-scores-list
  .profile-scores-item
  .profile-scores-title:hover {
  text-decoration: underline;
}

.profile-container
  .profile-content
  .profile-body
  .profile-scores-list
  .profile-scores-item
  .profile-scores-title,
.profile-card
  .profile-body
  .profile-scores-list
  .profile-scores-item
  .profile-scores-composer {
  width: fit-content;
}

.profile-container
  .profile-content
  .profile-body
  .profile-scores-list
  .profile-scores-item
  .profile-scores-genre-instrument {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.profile-container .profile-content .profile-body .profile-favorite-scores {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 32px;
}

.profile-container
  .profile-content
  .profile-body
  .profile-favorite-scores
  .profile-favorite-scores-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile-container
  .profile-content
  .profile-body
  .profile-favorite-scores
  .profile-favorite-scores-title
  h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

/* Profile Favorite Scores */
.profile-container
  .profile-content
  .profile-body
  .profile-favorite-scores
  .profile-favorite-scores-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  width: 100%;
  margin-top: 16px;
}

.profile-container
  .profile-content
  .profile-body
  .profile-favorite-scores
  .profile-favorite-scores-list
  .profile-favorite-scores-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
}

.profile-container
  .profile-content
  .profile-body
  .profile-favorite-scores-list
  .profile-favorite-scores-item
  .profile-favorite-scores-link {
  margin-bottom: 16px;
}

.profile-container
  .profile-content
  .profile-body
  .profile-favorite-scores-list
  .profile-favorite-scores-item
  .profile-favorite-scores-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid var(--sheet-border-color);
}

.profile-container
  .profile-content
  .profile-body
  .profile-favorite-scores-list
  .profile-favorite-scores-item
  .profile-favorite-scores-image:hover {
  border-color: var(--sheet-border-color-hover);
}

.profile-container
  .profile-content
  .profile-body
  .profile-favorite-scores-list
  .profile-favorite-scores-item
  .profile-favorite-scores-title {
  color: var(--primary);
}

.profile-container
  .profile-content
  .profile-body
  .profile-favorite-scores-list
  .profile-favorite-scores-item
  .profile-favorite-scores-title:hover {
  text-decoration: underline;
}

.profile-container
  .profile-content
  .profile-body
  .profile-favorite-scores-list
  .profile-favorite-scores-item
  .profile-favorite-scores-title,
.profile-card
  .profile-body
  .profile-favorite-scores-list
  .profile-favorite-scores-item
  .profile-favorite-scores-composer {
  width: fit-content;
}

.profile-container
  .profile-content
  .profile-body
  .profile-favorite-scores-list
  .profile-favorite-scores-item
  .profile-favorite-scores-genre-instrument {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

/* My Scores */
.scores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 24px;
}

.scores-container .scores-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.scores-container .scores-content .scores-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.scores-container .scores-content .scores-header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.scores-container .scores-content .scores-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.scores-container .scores-content .scores-body .scores-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  width: 100%;
  margin-top: 16px;
}

.scores-container .scores-content .scores-body .scores-list .scores-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
}

.scores-container
  .scores-content
  .scores-body
  .scores-list
  .scores-item
  .scores-link {
  margin-bottom: 16px;
}

.scores-container
  .scores-content
  .scores-body
  .scores-list
  .scores-item
  .scores-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid var(--sheet-border-color);
}

.scores-container
  .scores-content
  .scores-body
  .scores-list
  .scores-item
  .scores-image:hover {
  border-color: var(--sheet-border-color-hover);
}

.scores-container
  .scores-content
  .scores-body
  .scores-list
  .scores-item
  .scores-title {
  color: var(--primary);
}

.scores-container
  .scores-content
  .scores-body
  .scores-list
  .scores-item
  .scores-title:hover {
  text-decoration: underline;
}

.scores-container
  .scores-content
  .scores-body
  .scores-list
  .scores-item
  .scores-title,
.scores-card .scores-body .scores-list .scores-item .scores-composer {
  width: fit-content;
}

.scores-container
  .scores-content
  .scores-body
  .scores-list
  .scores-item
  .scores-genre-instrument {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

/* Music Sheet */
.sheet-music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.sheet-music-container .sheet-music-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.sheet-music-container .sheet-music-content .sheet-music-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
}

.sheet-music-container .sheet-music-content .sheet-music-body .sheet-music {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 64px);
  width: 100%;
  max-width: 100%;
  margin-right: 440px;
  overflow-y: auto;
}

.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music
  .sheet-music-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--background-card);
}

.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music
  .sheet-music-details
  img {
  width: 100%;
  max-width: 850px;
  height: 1099px;
  object-fit: cover;
  background-color: #ffffff;
}

.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  height: 100vh;
  width: 100%;
  max-width: 440px;
  position: fixed;
  top: 64px;
  right: 0;
  padding: 24px;
  background-color: var(--background);
  box-shadow: -1px 0 0px 0px var(--border-color);
}

.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music-actions
  .sheet-music-author {
  width: 100%;
}

.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music-actions
  .sheet-music-author
  p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music-actions
  .sheet-music-title {
  width: 100%;
}

.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music-actions
  .sheet-music-title
  h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music-actions
  .sheet-music-description {
  width: 100%;
}

.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music-actions
  .sheet-music-description
  p {
  font-size: 16px;
  margin: 0;
}

.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music-actions
  .sheet-music-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
}

.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music-actions
  .sheet-music-stats
  .views,
.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music-actions
  .sheet-music-stats
  .downloads,
.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music-actions
  .sheet-music-stats
  .favorites {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music-actions
  .sheet-music-controls {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music-actions
  .sheet-music-controls
  .button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music-actions
  .sheet-music-controls
  .button-group
  button {
  width: 100%;
  padding: 16px;
  border-radius: 999px;
  border: none;
  background-color: var(--sheet-border-color);
  color: var(--forground);
}

.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music-actions
  .sheet-music-controls
  .button-group
  button.btn-download {
  width: 100%;
  padding: 16px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music-actions
  .sheet-music-controls
  .button-group
  button.btn-download:hover {
  background-color: var(--primary-hover);
}

.sheet-music-container
  .sheet-music-content
  .sheet-music-body
  .sheet-music-actions
  .sheet-music-controls
  .button-group
  button:hover {
  background-color: var(--sheet-border-color-hover);
}

/* Genre Dialog */
.genre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  padding: 24px;
}

.genre-container .genre-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.genre-container .genre-content .genre-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 32px;
}

.genre-container .genre-content .genre-header h1 {
  font-size: 24px;
  margin: 0;
}

.genre-container .genre-content .genre-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.genre-container .genre-content .genre-form button {
  width: 100%;
  padding: 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.genre-container .genre-content .genre-form button:hover {
  background-color: var(--primary-hover);
}

.genre-container .genre-content .genre-form button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

.genre-container .genre-content .genre-login-text {
  font-size: 16px;
  color: var(--foreground);
  margin-bottom: 16px;
}

.genre-container .genre-content .genre-login-button {
  padding: 12px 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

/* Difficulty Dialog */
.difficulty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  padding: 24px;
}

.difficulty-container .difficulty-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.difficulty-container .difficulty-content .difficulty-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 32px;
}

.difficulty-container .difficulty-content .difficulty-header h1 {
  font-size: 24px;
  margin: 0;
}

.difficulty-container .difficulty-content .difficulty-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.difficulty-container .difficulty-content .difficulty-form button {
  width: 100%;
  padding: 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.difficulty-container .difficulty-content .difficulty-form button:hover {
  background-color: var(--primary-hover);
}

.difficulty-container .difficulty-content .difficulty-form button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

.difficulty-container .difficulty-content .difficulty-login-text {
  font-size: 16px;
  color: var(--foreground);
  margin-bottom: 16px;
}

.difficulty-container .difficulty-content .difficulty-login-button {
  padding: 12px 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

/* Instrument Dialog */
.instrument-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  padding: 24px;
}

.instrument-container .instrument-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.instrument-container .instrument-content .instrument-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 32px;
}

.instrument-container .instrument-content .instrument-header h1 {
  font-size: 24px;
  margin: 0;
}

.instrument-container .instrument-content .instrument-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.instrument-container .instrument-content .instrument-form button {
  width: 100%;
  padding: 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.instrument-container .instrument-content .instrument-form button:hover {
  background-color: var(--primary-hover);
}

.instrument-container .instrument-content .instrument-form button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

.instrument-container .instrument-content .instrument-login-text {
  font-size: 16px;
  color: var(--foreground);
  margin-bottom: 16px;
}

.instrument-container .instrument-content .instrument-login-button {
  padding: 12px 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

/* Search Results */
.search-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 24px;
}

.search-results-container .search-results-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-results-container .search-results-content .search-results-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.search-results-container .search-results-content .search-results-header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.search-results-container .search-results-content .search-results-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.search-results-container
  .search-results-content
  .search-results-body
  .search-results-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  width: 100%;
  margin-top: 16px;
}

.search-results-container
  .search-results-content
  .search-results-body
  .search-results-list
  .search-results-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
}

.search-results-container
  .search-results-content
  .search-results-body
  .search-results-list
  .search-results-item
  .search-results-link {
  margin-bottom: 16px;
}

.search-results-container
  .search-results-content
  .search-results-body
  .search-results-list
  .search-results-item
  .search-results-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid var(--sheet-border-color);
}

.search-results-container
  .search-results-content
  .search-results-body
  .search-results-list
  .search-results-item
  .search-results-image:hover {
  border-color: var(--sheet-border-color-hover);
}

.search-results-container
  .search-results-content
  .search-results-body
  .search-results-list
  .search-results-item
  .search-results-title {
  color: var(--primary);
}

.search-results-container
  .search-results-content
  .search-results-body
  .search-results-list
  .search-results-item
  .search-results-title:hover {
  text-decoration: underline;
}

.search-results-container
  .search-results-content
  .search-results-body
  .search-results-list
  .search-results-item
  .search-results-title,
.search-results-container
  .search-results-content
  .search-results-body
  .search-results-list
  .search-results-item
  .search-results-composer {
  width: fit-content;
}

.search-results-container
  .search-results-content
  .search-results-body
  .search-results-list
  .search-results-item
  .search-results-genre-instrument {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}
