@font-face {
  font-family: "Sora-Light";
  src: url("../public/fonts/Sora-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Sora-Regular";
  src: url("../public/fonts/Sora-Regular.ttf") format("truetype");
}

:root {
  --sidebar-width: 16rem;
  --header-height: 5.5rem;

  --background: #ffffff;
  --background-card: #f1f1f1;
  --foreground: #000000;
  --accent: #999999;
  --primary: #fccfff;
  --primary-hover: #e6b3cc;
  --secondary: #f7f6f2;
  --border: #cccccc;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --background-card: #000000;
  --foreground: #ffffff;
  --accent: #666666;
  --primary: #fccfff;
  --primary-hover: #e6b3cc;
  --secondary: #0a0a0a;
  --border: #333333;
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Sora-Regular", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--background);
  color: var(--foreground);
  height: 100vh;
}

.css-9agyu5 {
  max-width: unset !important;
}

.css-14yuqlv {
  background-color: transparent !important;
}

.css-u03wm8 {
  font-size: 16px !important;
  padding: 12px 16px 12px 8px !important;
}
