.settings-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0 6rem;
}

.settings-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  width: 100%;
}

.settings-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}

.settings-body {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.settings-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.settings-info {
  display: flex;
  flex-direction: column;
}

.settings-info label {
  font-size: 1rem;
  margin: 0;
}

.settings-form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.input-name-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.input-name-group input {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.settings-form-group input,
.settings-form-group textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.settings-role-select:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

.button-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.button-container button {
  width: 100%;
  padding: 1.5rem;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

.button-container button:hover {
  background-color: var(--primary-hover);
}

.button-container button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

@media (max-width: 750px) {
  .settings-container {
    margin-top: 8rem;
  }

  .settings-content {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .settings-header h1 {
    font-size: 1.25rem;
  }

  .input-name-group {
    flex-direction: column;
    align-items: flex-start;
  }
}
