.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 24px;
}

.settings-container .settings-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 750px;
}

.settings-container .settings-content .settings-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.settings-container .settings-content .settings-header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.settings-container .settings-content .settings-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.settings-container .settings-content .settings-body .settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-field
  .settings-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-field
  .settings-info
  label {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-field
  .settings-info
  p {
  font-size: 16px;
  color: var(--secondary);
  margin: 0;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-form-group
  .input-name-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-form-group
  .input-name-group
  input {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  font-size: 16px;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-form-group
  input,
.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-form-group
  textarea {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  font-size: 16px;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .settings-form-group
  .settings-role-select:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .button-container
  button {
  width: 100%;
  padding: 24px;
  border-radius: 999px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .button-container
  button:hover {
  background-color: var(--primary-hover);
}

.settings-container
  .settings-content
  .settings-body
  .settings-form
  .button-container
  button:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

@media (max-width: 750px) {
  .settings-container {
    margin-top: 128px;
  }

  .settings-container .settings-content {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .settings-container .settings-content .settings-header h1 {
    font-size: 20px;
  }

  .settings-container
    .settings-content
    .settings-body
    .settings-form
    .settings-form-group
    .input-name-group {
    flex-direction: column;
    align-items: flex-start;
  }
}
